<!--LOgin modal-->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Ingreso Administración</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
    <input type="email" name="email" placeholder="Username" ngModel required>
    <input type="password" name="password" placeholder="Password" ngModel required>
  </form>
</div>

<div class="modal-footer">
  <button type="submit" value="send" href="./administración.component.html" class="btn btn-outline-dark"
    (click)="login()">Entrar</button>
</div>