@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body { font-family: 'PT Sans', sans-serif; }

.bg-primary { background-color: #003F72 !important; }
.bg-warning { background-color: #FDCB14 !important; }
.bg-oscuro { background-color: #151515 !important; }
.bg-gris { background-color: #9B9B9B !important; }

.text-primary { color: #003F72 !important; }
.text-warning { color: #FDCB14 !important; }
.text-gray { color: #9B9B9B }
.text-oscuro { color: #151515 }

.navbar { padding: 30px 15px; }

.navbar-nav .active {
  background-color: #FDCB14;
}

.nav-link {
  font-weight: 700;
  border: 2px solid #fff;
}

.nav-link:hover { border: 2px solid #f5f5f5; }

.linea { height: 3px; }

.quienes-somos { padding: 6rem 0 6rem 0; }

#slide1 { background-image: url('../../../../images/code-coding-computer-574071.jpg') }
#slide2 { background-image: url('../../../../images/adult-business-close-up-1181263.jpg') }
#slide3 { background-image: url('../../../../images/blurred-background-code-coding-1261427.jpg') }

.swiper-slide {
  height: 41rem;
  text-align: left;
  color: #fff;
  background-size: cover;
  background-position: center center;
}

.swiper-slide:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .4;
}

.texto-slide { width: 75%; }

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem !important;
}

.swiper-pagination-bullet-active { background-color: #FDCB14 }

#evento1 { background-image: url('../../../../images/company-concept-creative-7369.jpg') }
#evento2 { background-image: url('../../../../images/widdisonphotography_0023-900x720.jpg') }
#evento3 { background-image: url('../../../../images/tj-jen-presenting.jpg') }

.imagen-evento {
  height: 13rem;
  text-align: left;
  color: #fff;
  background-size: cover;
  background-position: center center;
}

.box-evento {
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
}

#quienes-somos, #departamentos, #autoridades, #grupos { padding: 100px 0; }

.titulo {
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 56px;
}

.titulo-quienes-somos, .titulo-autoridades, .titulo-grupos { margin-bottom: 34px; }
#titu1 { background-image: url('../../../../images/tj-jen-presenting.jpg'); 
  width:590px;
  height:400px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}




.texto-about, .texto-cita {
  letter-spacing: 0.8px;
  line-height: 24px;
}

.box-departamento {
  padding: 40px 20px;
  border: 3px solid rgba(255,255,255, .2);
}

.titulo4 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.4px;
  line-height: 24px;
}

.texto-departamento {
  letter-spacing: 0.4px;
  line-height: 20px;
}

.btn-departamento {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 0%;
}

.box-autoridad {
  margin-top: 30px;
  margin-bottom: 30px;
}
#auto1 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
      width:115px;
      height:119px;
      background-position: center center;
      background-size: cover;
      text-align: left;
    }

#auto2 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
  width:115px;
  height:119px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}

#auto3 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
  width:115px;
  height:119px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}
#auto4 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
  width:115px;
  height:119px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}


.card-autoridad {
  padding: 70px 30px 40px 30px;
  border: 2px solid rgba(253,203,20,0.2);
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .box-evento {
    height: 36px;
  }
}


.titulo{
  line-height: 1.5em;
  color: rgb(216, 208, 208);
  align-items: center;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;;
  margin-left: 30px;
  font-weight: bold;
}
#login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #314252;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}
#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 40px;
  height: 45px;
}
#login form input[type="text"] {
  background-color: #cbccc1;
  border-radius: 0px 3px 3px 0px;
  color: #3a3636;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 180px;
  height: 45px;
}

#login form input[type="password"] {
  background-color: #cbccc1;
  border-radius: 0px 3px 3px 0px;
  color: #3a3636;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 180px;
  height: 45px;
}
#login form input[type="submit"] {
  background: #4a6688;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #6b2c31;
}