<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <div class="d-flex mx-auto mt-md-4">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active mr-2" *ngFor="let menu of  listMenu">
          <a class="nav-link py-2 px-4" routerLink="{{menu.url}}">{{menu.name}}<span
              class="sr-only">(current)</span></a>
        </li>
      </ul>

    </div>

  </div>

</nav>
<!--ver mas-->
<section id="autoridades">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <h2 class="titulo titulo-autoridades">Mensajes</h2>
        <div class="row">
          <div class="col-md-12 box-autoridades bg-light">
            <div class="row">
              <div class="col-md-6 box-autoridad text-center" *ngFor="let mensaje of listMensajes;  let i=index">
                <div class="card-autoridad bg-white">
                  <div class="box-autoridad-cuerpo text-center">
                    <div class="col-sm-12 px-0 imagen-evento d-flex align-items-end text-center" id="evento3">
                      <div class="mb-0 box-evento p-1">
                      <h3 >{{mensaje.title}}</h3>
                      <p >{{mensaje.description}}</p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>